{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Item{% endblock title %}

{% block content %}

<br>
<div class="card">
  <h5 class="card-header">Add Item</h5>
  <div class="card-body">
    <p class="card-text">
        <form action="{% url 'item-create' restaurant.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Add" class="btn btn-outline-success">
        </form>
  </div>
</div>
{% endblock content %}
